<!DOCTYPE html>
<html lang="en">
    <head>
      <% include partials/head.html %>
    </head>
    <body>
        <% include partials/navi.ejs %>
        <div class="jumbotron bg">
        </div>
              <div class="contact container">
                <!-- <div class="content">
                </div> -->
                <div class="content">
                  <div class="retain">
                      <p>
                          <div id="img_cont" class="social">
                              <a href="https://www.instagram.com/nullreef/"><i id="instagram" class="fa fa-instagram" aria-hidden="true"></i></br>
                               <a href="https://www.facebook.com/nullreef/"><i id="facebook" class="fa fa-facebook-square" aria-hidden="true"></i></br>
                              <a href="https://www.twitter.com/nullreef/"><i id="twitter" class="fa fa-twitter-square" aria-hidden="true"></i></br>
                          </div>
                      </p>
                  </div>
                </div>
             </div>
        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </body>
</html>



<!-- Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. -->
