<!DOCTYPE html>
<html lang="en">
    <head>
      <% include partials/head.html %>
    </head>
    <body>
        <% include partials/navi.ejs %>
        <div class="jumbotron bg">
        </div>
          <div class="content">
              <div id="img_cont" class="social">
                  <a href="https://www.instagram.com/nullreef/"><i id="instagram" class="fa fa-instagram" aria-hidden="true"></i><a/>
                   <a href="https://www.facebook.com/nullreef/"><i id="facebook" class="fa fa-facebook-square" aria-hidden="true"></i><a/>
                  <a href="https://www.twitter.com/nullreef/"><i id="twitter" class="fa fa-twitter-square" aria-hidden="true"></i><a/>
              </div>
          </div>

        <div class="row foot">
            <div class="col">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
            <div class="col">
              <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
            </div>
            <div class="col">
              <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
            </div>
        </div>
    </body>
</html>
