<!DOCTYPE html>
<html lang="en">
    <head>
      <% include partials/head.html %>
    </head>
    <body>
        <% include partials/navi.ejs %>
        <div class="contain"/>
        <div class="container display_img">
           <img src="/images/coral2.jpg">
           <button id="close_display" type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">×</span>
           </button>
        </div>

         <div class="galleria group">
             <div class="img-box"><img src="images/coral.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral1.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral2.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral3.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral4.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral5.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral6.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral7.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral8.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral9.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral10.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral11.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral12.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral13.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral14.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral15.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral16.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral17.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral18.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral19.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral20.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral21.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral22.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral23.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral24.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral25.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral26.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral27.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral28.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral29.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral30.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral31.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral32.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral33.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral34.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral35.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral36.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral37.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral38.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral39.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral40.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral41.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral42.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral43.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral44.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral45.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral46.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral47.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral48.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral49.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral50.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral51.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral52.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral53.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral54.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral55.jpg" alt="Coral Photo"></div>
             <div class="img-box"><img src="images/coral56.jpg" alt="Coral Photo"></div>
             <!-- <div class="img-box"><img src="images/coral57.jpg"></div>
             <div class="img-box"><img src="images/coral58.jpg"></div>
             <div class="img-box"><img src="images/coral59.jpg"></div>
             <div class="img-box"><img src="images/coral60.jpg"></div> -->
         </div>

        </div>
        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </body>
</html>
