<!DOCTYPE html>
<html lang="en">
    <head>
      <% include partials/head.html %>

      <script type="text/javascript">
          var feed = new Instafeed({
              get: 'tagged',
              tagName: 'awesome',
              clientId: 'nullreef'
          });
          feed.run();
      </script>

    </head>
    <body>
        <% include partials/navi.ejs %>
        <div class="contain"/>
        </div>

        <div id="instafeed"></div>
    </body>
</html>
