*{
  border: 1px solid red;
}

body {
background-color: #edeff0!important; /*#292b2c*/
height: auto;
width: 100%;
margin: auto;
position: relative;
}

.navbar{
  width:100%;
}


#homelink{
  font-size: 2.5em;
  left:0px;
  padding: 0px;
}

.pull-down{
  display: inline-block;
  vertical-align: bottom;float: none;
}
/*.buttcase {
  width: 100%;
  height:7%;
}*/

.select{
  display: inline-block;
  color: rgba(249, 250, 236, .4);
  padding: 15px 20px;
}
.select:hover{
  color:#FFB87D;
}

.jumbotron {
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover!important;
  margin:auto;
  height: 750px!important;
  margin-bottom: 0px!important;
}

.livestream{
  margin: 0px;
}

.bg {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.bg iframe {
  width: 100%;
  height: 100%;
  max-height: 750px;
}
.bg-inverse{
  opacity: .85;
}

.pin-right {
  float:none;
  right: 0px;
  margin-top: 3px;
  position: absolute;
}

.contain{
  height: 1000px;
  /*margin-top: 0px;*/
}
.pod{
background-color: #B0D9ED;
max-width: 75%;
height: 250px;
margin: auto;
border: 1px solid;
opacity: .95;
}
