 /**{
  border: 1px solid red;
}*/


body {
/*background-color: #292b2c!important; */
background-color: black!important;
height: auto;
width: 100%;
margin: auto;
}

a:hover{
  text-decoration: none!important;
}

.pull-down{
  display: inline-block;
  vertical-align: bottom;float: none;
}
/*.buttcase {
  width: 100%;
  height:7%;
}*/

/*------------------------------------------

   ### JUMBOTRON STYING START ### */


.jumbotron {
  background-image: url(../images/blackground.jpg);
  background-repeat: no-repeat;
  background-color: black;
  background-size: contain!important;
  margin:auto;
  height: 100%;
  margin-bottom: 0px!important;
  margin-left: -5.5rem;

}

.bg {
  position: fixed;
  background-position-y: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

@media (max-width: 414px){
 .bg{
   width: 200%;
 }
 .jumbotron {
  margin-left: -30rem;
 }
}
    /*### JUMOBOTRON STYING END ###

------------------------------------------

   ### NAVIGATION STYING START ### */

   #homelink{
     font-size: 2.5em;
     left:0px;
     padding: 0px;
   }

.col{
  display: flex;
  align-items: center;
}

#live{
  color: red;
animation: flash linear 2s infinite;
font-size: 1.2em!important;
display: flex;
align-items: center;
margin-left: -3.6rem;
}

#livevideo{
  /*margin-left: -1rem;*/
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}


   .select{
     font-size: 1.25em;
     display: inline-block;
     color: rgba(249, 250, 236, .8);
     text-shadow: 0px 0px 5px #000000;
     padding: 10px 20px;
   }
   .select:hover{
     color:white;
     opacity: .5;
   }
   .bg-inverse{
     opacity: .85;
   }

   .navcontain {
     margin: 0px;
     width: 100%;
   }


   .navbar{
     width:100%;
    border-radius: 0!important;
    position: fixed;
   }
   /*### NAVIGATION STYING END ###

------------------------------------------

   ### PHOTO STYLING START ###
   ### STYLE FOR IFRAME GALLERY ###*/

#gallery{
  padding-top: 51px;
  position: fixed;
  padding-bottom: 10px;
  height: 100%;
}
.contain{
  height: 100%;
  margin-top: 90px;
}

.contain iframe{
  height: 100%;
  width: 100%;
}
    /*###  STYLE FOR SELF-MADE GALLERY  ###*/

    .galleria {
      overflow-x: auto;
      padding: 0px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 90%;
    }

    .galleria-strip{
      overflow-x: auto;
      display: flex;
      width: 100%;
      position: fixed;
      bottom: 0px;
      flex-direction: row;
      transition: width 2s;
    }

    .galleria img, .galleria-strip img {
      width: 150px;
      height: 125px;
      margin: 9px;
      border-radius:10px;
    }
    .img-box{
      display: inline-block;
      padding: 1.5px;
    }

    .display_img img{
      height: 500px;
      width: auto;
    }

    .display_img{
      display: flex;
      justify-content: center;
    }

    .hidden{
      display:none;
    }

    #close_display{
      opacity: .7!important;
      color: #e0dedc!important;
      /*position: absolute;
      right: 2%;
      top: 0rem;*/
      display: inline-block;
      margin-top: -475px;
    }
    .img-box:hover{
      color: white;
      opacity: .7;
    }

   /*### PHOTO STYLING END ###

------------------------------------------

   ### LIVESTREAM STYING START ### */
   .bg iframe {
     width: 100%;
     height: 100%;
     overflow: scroll;
   }
   .livestream{
     margin: 0px;
   }
   /*### LIVESTREAM STYING END ###

------------------------------------------

   ### CONTACT STYING START ###*/

   .contact{
     margin-top: 200px;
     opacity: .8;
     width: 100%;
     display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-end;
    align-items: flex-end;
   }

.contact_info{
  color: rgba(249, 250, 236, .8);
  opacity: .9;
}

   /*### CONTACT CSS BEGIN ###*/


   #img_cont {
     display: table;
     margin: auto;
     display: flex;
     flex-direction: column;
     line-height: 68px;
     padding-top: 22px;
     margin: 4px 5px;
   }

   #img_cont a {
     display: table-cell;
     text-align: center;
     /*width: 16%;*/
   }

   #img_cont img {
     width: 100%;
     max-width: 43px;
     max-height: 43px;
   }

   i {
     font-size: 45px!important;
     color:rgba(249, 250, 236, .8);
     opacity: .9;
     margin-top: -5px;
   }
   .pin-right a{
     margin: 0px 8px;
   }
   .pin-right a:last-child{
     margin-right: -20px;
   }


   #instagram:hover{
     background: -webkit-linear-gradient(right top, #4c68d7, #8a3ab9, #bc2a8d, #cd486b, #fccc63);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
   }
   #facebook:hover{
     color: 	#3b5998;
   }
   #twitter:hover{
     color: #55acee;
   }

   .retain {
     width: 95%;
     margin: auto;
     text-align: center;
     line-height: 12px;
   }

   .content {
     color: rgba(249, 250, 236, .8);
     opacity: .9;
     background-color:#292b2c;
     border: 1px solid rgba(249, 250, 236, .8);
     min-width: 25px;
     position: fixed;
     top: 30%;
     right:5px;
     padding: 4px;
   }

      /*### CONTACT CSS END ###   */

   /*-----------------------------------------------*/

   /*### CONTACT STYING END ###

------------------------------------------*/

 /*Webpreview hover start*/

 .button {
 font-family: "Times New Roman", Georgia, Serif;
 width: 55px;
 display: flex;
 justify-content: center;
 /*border: 1px solid black;*/
 border-radius: 5px;
 /*background: rgba(249, 250, 236, .8);*/
}

.button:hover {
  color: white;
  /*opacity: .5;*/
}

 /*Webpreview hover end*/

.pin-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mini-preview-wrapper{
  border-radius: 10px;
  top: 54px!important;
  left: -195.5px!important;
}

.mini-preview-frame {
 background-color: rgb(0,0,0) !important;
}

.pod{
background-color: #B0D9ED;
max-width: 75%;
height: 250px;
margin: auto;
border: 1px solid;
opacity: .95;
}

p {
  color: rgba(249, 250, 236, .8);
  font-size: .9em;

}

.foot {
  background-color: #292b2c;
  opacity: .8;
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-left: 0px!important;
  padding-top: 15px;
  text-align: center;
}

.inner{
  display:none!important;
}
